<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bca_pocketbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="B.C.A.-POCKET BOOK"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCAPOCKETBOOK">
        <activity android:name=".rating"></activity>
        <activity
            android:name=".student_homework_2"
            android:parentActivityName=".student_homework_1" />
        <activity
            android:name=".student_homework_1"
            android:parentActivityName=".Student_Main" />
        <activity
            android:name=".student_notice_1"
            android:parentActivityName=".Student_Main" />
        <activity
            android:name=".student_journal_2"
            android:parentActivityName=".student_journal_1" />
        <activity
            android:name=".student_journal_1"
            android:parentActivityName=".Student_Main" />
        <activity android:name=".Change_Password" />
        <activity
            android:name=".Admin_Homework"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".student_syllabus_2"
            android:parentActivityName=".student_syllabus_1" />
        <activity
            android:name=".student_oldPaper_1"
            android:parentActivityName=".Student_Main" />
        <activity
            android:name=".Student_material_1"
            android:parentActivityName=".Student_Main" />
        <activity
            android:name=".student_syllabus_1"
            android:parentActivityName=".Student_Main" />
        <activity
            android:name=".student_oldPaper_2"
            android:parentActivityName=".student_oldPaper_1" />
        <activity
            android:name=".student_material_2"
            android:parentActivityName=".Student_material_1" />
        <activity android:name=".Student_Main" />
        <activity
            android:name=".Admin_Notice"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".forgot_Password"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Admin_Syllabus"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Admin_Journal"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Admin_OldPaper"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Admin_Test" />
        <activity
            android:name=".Admin_Material"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>